<!-- Responsive top menu -->
<div class="ui fixed inverted main menu">
	<div class="ui container">
		<a class="launch icon item sidebar-toggle">
			<i class="sidebar icon"></i>
		</a>
	</div>
</div>

<div class="ui column row" style="margin-top:50px;">
    <div class="ui icon message">
        <i class="empty heart icon"></i>
        <div class="content">
            <div class="header">
                Добро пожаловать в HookahCRM!
            </div>
            <p>Здесь вы можете посмотреть основную статистку</p>
        </div>
    </div>
</div>

<div class="ui three column row">
    <div class="dashboard-stat column">
        <div class="ui segments">
            <div class="ui segment">
                <h3 class="ui blue header">Продано</h3>
            </div>
            <div class="ui secondary olive green inverted dashboard center aligned segment fixedSegmentSize">
                <div class="ui dashboard statistic">
                    <div class="value">
                        5,550
                    </div>
                    <div class="label">
                        Кальянов
                    </div>

                    <div class="ui two mini statistics">
                        <div class="statistic">
                            <div class="value">
                                120
                            </div>
                            <div class="label">
                                AlFakher
                            </div>
                        </div>
                        <div class="statistic">
                            <div class="value">
                                700
                            </div>
                            <div class="label">
                                Nakhla
                            </div>
                        </div>
                        <div class="statistic">
                            <div class="value">
                                700
                            </div>
                            <div class="label">
                                Adalya
                            </div>
                        </div>
                        <div class="statistic">
                            <div class="value">
                                700
                            </div>
                            <div class="label">
                                DarkSide
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-stat column">
        <div class="ui segments">
            <div class="ui segment">
                <h3 class="ui blue header">Получено</h3>
            </div>
            <div class="ui teal inverted dashboard center aligned segment fixedSegmentSize">
                <div class="ui dashboard statistic">
                    <div class="value">
                        5,550$
                    </div>
                    <div class="label">

                    </div>
                </div>

                <div class="ui center animated list">
                    <a class="item">
                        <i class="add circle icon"></i>
                        <div class="content">
                            <div class="description">10% больше, чем вчера</div>
                        </div>
                    </a>
                    <a class="item">
                        <i class="minus circle icon"></i>
                        <div class="content">
                            <div class="description">5% больше, чем позавчера</div>
                        </div>
                    </a>
                    <a class="item">
                        <i class="minus circle icon"></i>
                        <div class="content">
                            <div class="description">30% больше, чем 3 дня назад</div>
                        </div>
                    </a>
                    <a class="item">
                        <i class="minus circle icon"></i>
                        <div class="content">
                            <div class="description">30% больше, чем 4 дня назад</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-stat column">
        <div class="ui segments">
            <div class="ui segment">
                <h3 class="ui blue header">Израсходовано</h3>
            </div>
            <div class="ui secondary blue inverted dashboard center aligned segment fixedSegmentSize">
                <div class="ui dashboard statistic">
                    <div class="value">
                        5,550<span>г</span>
                    </div>
                    <div class="label">
                        Табака
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="top-table column">
        <div class="ui segments">
            <div class="ui segment">
                <h3 class="ui blue header">Топ работников</h3>
            </div>
            <div class="ui segment">
                <table class="ui very basic table">
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>Item 1</td>
                            <td>$20</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>Item 2</td>
                            <td>$22</td>
                            <td>24</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Item 3</td>
                            <td>$15</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>Item 4</td>
                            <td>$10</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>Item 5</td>
                            <td>$15</td>
                            <td>15</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="doughnut-chart column">
        <div class="ui segments">
            <div class="ui segment">
                <h3 class="ui blue header">График работников</h3>
            </div>
            <div class="ui segment">
                Заведение Branch1
                <canvas id="doughnuts_are_tasty" width="274" height="179"></canvas>
                <ul id="dashboard_legend"></ul>
            </div>
        </div>
    </div>
</div>
<!--<div class="ui three column row">
    <div class="dashboard-stat column">
        <div class="ui segments">
            <div class="ui segment">
                <h3 class="ui blue header">Any Header</h3>
            </div>
            <div class="ui violet inverted dashboard center aligned segment">
                <div class="ui dashboard statistic">
                    <div class="value">
                        5,550
                    </div>
                    <div class="label">
                        Downloads
                    </div>
                </div>
            </div>
            <div class="ui segment">
                Footer
            </div>
        </div>
    </div>

    <div class="dashboard-stat column">
        <div class="ui segments">
            <div class="ui segment">
                <h3 class="ui blue header">Any Header</h3>
            </div>
            <div class="ui grey inverted dashboard center aligned segment">
                <div class="ui dashboard statistic">
                    <div class="value">
                        5,550
                    </div>
                    <div class="label">
                        Downloads
                    </div>
                </div>
            </div>
            <div class="ui segment">
                Footer
            </div>
        </div>
    </div>

    <div class="dashboard-stat column">
        <div class="ui segments">
            <div class="ui segment">
                <h3 class="ui blue header">Any Header</h3>
            </div>
            <div class="ui pink inverted dashboard center aligned segment">
                <div class="ui dashboard statistic">
                    <div class="value">
                        5,550
                    </div>
                    <div class="label">
                        Downloads
                    </div>
                </div>
            </div>
            <div class="ui segment">
                Footer
            </div>
        </div>
    </div>
</div>-->

<script type="text/javascript" src="Content/js/admin.js"></script>