<div class="ui fixed inverted main menu">
    <div class="ui container">
        <a class="launch icon item sidebar-toggle">
            <i class="sidebar icon"></i>
        </a>
    </div>
</div>

<div class="ui secondary pointing fluid menu">
    <h2 class="ui header">{{ vm.controllerName }}</h2>

    <!--<div class="right menu">
        <a class="ui active item">
            Staff
        </a>
        <a class="ui disabled item">
            Hours
        </a>
    </div>-->
</div>

<div class="ui special three cards" ng-show="vm.users.length > 0">
    <div class="card" ng-repeat="obj in vm.users">
        <div class="blurring dimmable image">
            <div class="ui inverted dimmer">
                <div class="content">
                    <div class="center">
                        <div class="ui primary icon button">
                            <i class="add icon"></i>
                            Add Stockist
                        </div>
                        <div class="ui secondary button">View</div>
                    </div>
                </div>
            </div>
            <img src="http://tcvalentine.com/images/semantic-themes/ron_240x272.png">
        </div>
        <div class="content">
            <a class="header">{{obj.FirstName}} {{obj.LastName[0]}}. {{obj.MiddleName[0]}}.</a>
            <div class="meta">
                <span class="date">Создан {{obj.CreationDateTime | date:'MM/dd/yyyy' }}</span>
            </div>
        </div>
        <div class="extra content">
            <a>
                <i class="users icon"></i>
                100 групповых баллов
            </a>
        </div>
    </div>

    <div class="card">
        <div class="content">
            <div class="header">Добавить сотрудника</div>
        </div>
        <div class="extra content">
            <button class="ui button add-staff">Добавить сотрудника</button>
        </div>
    </div>

    <div class="ui modal">
        <div class="header">New Employee</div>
        <div class="content">
            <form class="ui form">
                <div class="field">
                    <label>First Name</label>
                    <input type="text" name="first-name" placeholder="First Name">
                </div>
                <div class="field">
                    <label>Last Name</label>
                    <input type="text" name="last-name" placeholder="Last Name">
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" tabindex="0" class="hidden">
                        <label>Manager</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui slider checkbox">
                        <input type="checkbox" tabindex="0" class="hidden">
                        <label>Stockist</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" tabindex="0" class="hidden">
                        <label>Part-Time</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="actions">
            <div class="ui primary button">Save</div>
            <div class="ui cancel button">Cancel</div>
        </div>
    </div>
</div>

<div class="ui mobile cards">
    <div class="card" ng-repeat="obj in vm.users">
        <div class="content">
            <img class="right floated mini ui image" src="http://tcvalentine.com/images/semantic-themes/ron_240x272.png">
            <div class="header">
                {{obj.FirstName}} {{obj.LastName[0]}}. {{obj.MiddleName[0]}}.
            </div>
            <div class="meta">
                <i class="users icon"></i>
                100 групповых баллов
            </div>
            <div class="description">
                Создан {{obj.CreationDateTime | date:'MM/dd/yyyy' }}
            </div>
        </div>
        <div class="extra content">
            <div class="ui two buttons">
                <div class="ui basic green button">Изменить должность</div>
                <div class="ui basic teal button">Просмотр</div>
            </div>
        </div>
    </div>
    <!--<div class="card">
        <div class="content">
            <img class="right floated mini ui image" src="https://upload.wikimedia.org/wikipedia/en/d/dc/MichaelScott.png">
            <div class="header">
                Stockists
            </div>
            <div class="meta">
                <i class="users icon"></i>
                10 Members
            </div>
            <div class="description">
                Created in Aug 2014
            </div>
        </div>
        <div class="extra content">
            <div class="ui two buttons">
                <div class="ui basic green button">Add Stockist</div>
                <div class="ui basic teal button">View</div>
            </div>
        </div>
    </div>-->
</div>

<script src="Content/js/admin.js"></script> 