<div class="ui fixed inverted main menu">
    <div class="ui container">
        <a class="launch icon item sidebar-toggle">
            <i class="sidebar icon"></i>
        </a>
    </div>
</div>

<div class="ui secondary pointing fluid menu">
    <h2 class="ui header">{{ vm.controllerName }}</h2>

    <!--<div class="right menu">
        <a class="ui active item">
            Staff
        </a>
        <a class="ui disabled item">
            Hours
        </a>
    </div>-->
</div>

<div class="ui special three cards" ng-show="vm.users.length > 0">
    <div class="card" ng-repeat="obj in vm.users">
        <div class="blurring dimmable image">
            <div class="ui inverted dimmer">
                <div class="content">
                    <div class="center">
                        <div class="ui primary icon button">
                            <i class="add icon"></i>
                            Add Stockist
                        </div>
                        <div class="ui secondary button">View</div>
                    </div>
                </div>
            </div>
            <img src="http://tcvalentine.com/images/semantic-themes/ron_240x272.png">
        </div>
        <div class="content">
            <a class="header">{{obj.FirstName}} {{obj.LastName[0]}}. {{obj.MiddleName[0]}}.</a>
            <div class="meta">
                <span class="date">Создан {{obj.CreationDateTime | date:'dd/MM/yyyy' }}</span>
            </div>
        </div>
        <div class="extra content">

            <div class="ui list">
                <div class="item">
                    <i class="marker icon"></i>
                    <div class="content">
                        <a>NewYork</a>
                    </div>
                </div>
                <div class="item">
                    <i class="phone icon"></i>
                    <div class="content">
                        <a>{{obj.Phone}}</a>
                    </div>
                </div>
                <div class="item">
                    <i class="group icon"></i>
                    <div class="content">
                        <a>0 баллов</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="content">
            <div class="header">Добавить сотрудника</div>
        </div>
        <div class="extra content">
            <button class="ui button add-staff" ng-click="vm.openUserCreateModal(null, false)">Добавить сотрудника</button>
        </div>
    </div>

    <div class="ui modal">
        <div class="header">New Employee</div>
        <div class="content">
            <form class="ui form">
                <div class="field">
                    <label>First Name</label>
                    <input type="text" name="first-name" placeholder="First Name">
                </div>
                <div class="field">
                    <label>Last Name</label>
                    <input type="text" name="last-name" placeholder="Last Name">
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" tabindex="0" class="hidden">
                        <label>Manager</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui slider checkbox">
                        <input type="checkbox" tabindex="0" class="hidden">
                        <label>Stockist</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" tabindex="0" class="hidden">
                        <label>Part-Time</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="actions">
            <div class="ui primary button">Save</div>
            <div class="ui cancel button">Cancel</div>
        </div>
    </div>
</div>

<div class="ui mobile cards">
    <div class="card" ng-repeat="obj in vm.users">
        <div class="content">
            <img class="right floated mini ui image" src="http://tcvalentine.com/images/semantic-themes/ron_240x272.png">
            <div class="header">
                {{obj.FirstName}} {{obj.LastName[0]}}. {{obj.MiddleName[0]}}.
            </div>
            <div class="meta">
                <div class="ui list">
                    <div class="item">
                        <i class="marker icon"></i>
                        <div class="content">
                            <a>NewYork</a>
                        </div>
                    </div>
                    <div class="item">
                        <i class="phone icon"></i>
                        <div class="content">
                            <a>{{obj.Phone}}</a>
                        </div>
                    </div>
                    <div class="item">
                        <i class="group icon"></i>
                        <div class="content">
                            <a>0 баллов</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description">
                Создан {{obj.CreationDateTime | date:'MM/dd/yyyy' }}
            </div>
        </div>
        <div class="extra content">
            <div class="ui two buttons">
                <div class="ui basic green button">Изменить должность</div>
                <div class="ui basic teal button">Просмотр</div>
            </div>
        </div>
    </div>
    <!--<div class="card">
        <div class="content">
            <img class="right floated mini ui image" src="https://upload.wikimedia.org/wikipedia/en/d/dc/MichaelScott.png">
            <div class="header">
                Stockists
            </div>
            <div class="meta">
                <i class="users icon"></i>
                10 Members
            </div>
            <div class="description">
                Created in Aug 2014
            </div>
        </div>
        <div class="extra content">
            <div class="ui two buttons">
                <div class="ui basic green button">Add Stockist</div>
                <div class="ui basic teal button">View</div>
            </div>
        </div>
    </div>-->
</div>

<modal ng-model="vm.showUserCreateModal">
    <i class="close icon" ng-click="vm.closeUserCreateModal()"></i>
    <div class="header">
        Добавление сотрудника
    </div>
    <div class="content">
        <div class="right">
            <form class="ui large form" name="addUserForm" novalidate>
                <div class="three fields" ng-class="{'error': addUserForm.username.$dirty && addUserForm.username.$invalid}">
                    <div class="field">
                        <label>Фамилия</label>
                        <input type="text" name="firstName" placeholder="Фамилия" data-ng-model="vm.currentEditUser.FirstName" required tabindex="0" />
                        <span ng-show="addUserForm.firstName.$touched && addUserForm.firstName.$invalid" class="ui red pointing above ui label">Фамилия</span>
                    </div>

                    <div class="field">
                        <label>Имя</label>
                        <input type="text" name="lastName" placeholder="Имя" data-ng-model="vm.currentEditUser.LastName" required tabindex="0" />
                        <span ng-show="addUserForm.lastName.$touched && addUserForm.lastName.$invalid" class="ui red pointing above ui label">Имя</span>
                    </div>

                    <div class="field">
                        <label>Отчество</label>
                        <input type="text" name="middleName" placeholder="Отчество" data-ng-model="vm.currentEditUser.MiddleName" required tabindex="0" />
                        <span ng-show="addUserForm.middleName.$touched && addUserForm.middleName.$invalid" class="ui red pointing above ui label">Отчество</span>
                    </div>
                </div>

                <div class="two fields" ng-class="{'error': addUserForm.Login.$dirty && addUserForm.Login.$invalid}">
                    <div class="field">
                        <label>Логин</label>
                        <input type="text" name="Login" placeholder="Логин" data-ng-model="vm.currentEditUser.Login" required tabindex="0" />
                        <span ng-show="addUserForm.Login.$touched && addUserForm.Login.$invalid" class="ui red pointing above ui label">Логин</span>
                    </div>

                    <div class="field">
                        <label>Пароль</label>
                        <input type="password" name="Password" placeholder="Пароль" data-ng-model="vm.currentEditUser.Password" required tabindex="0" />
                        <span ng-show="addUserForm.Password.$touched && addUserForm.Password.$invalid" class="ui red pointing above ui label">Пароль</span>
                    </div>
                </div>

                <div class="two fields" ng-class="{'error': addUserForm.Phone.$dirty && addUserForm.Phone.$invalid}">
                    <div class="field">
                        <label>Телефон</label>
                        <input type="text" name="Phone" placeholder="Телефон" data-ng-model="vm.currentEditUser.Phone" required tabindex="0" />
                        <span ng-show="addUserForm.Phone.$touched && addUserForm.Phone.$invalid" class="ui red pointing above ui label">Телефон</span>
                    </div>
                </div>

                <div class="two fields" ng-class="{'error': addUserForm.BranchName.$dirty && addUserForm.BranchName.$invalid}">
                    <div class="field">
                        <label>Точки</label>
                        <dropdown name="BranchName" open="false"
                                  ng-model="vm.currentEditUser.BranchName"
                                  required>
                            <dropdown-group data-value="model.Id" data-title="model.Name" ng-repeat="model in vm.activeBranches track by model.Id">{{model.Name}}</dropdown-group>
                        </dropdown>
                        <span ng-show="addUserForm.BranchName.$touched && addUserForm.BranchName.$invalid" class="ui red pointing above ui label">Точки</span>
                    </div>

                    <div class="field">
                        <label>Роль</label>
                        <dropdown name="RoleName" open="false"
                                  ng-model="vm.currentEditUser.RoleName"
                                  required>
                            <dropdown-group data-value="model.Role" data-title="model.Name" ng-repeat="model in vm.activeRoles track by model.Role">{{model.Name}}</dropdown-group>
                        </dropdown>
                        <span ng-show="addUserForm.RoleName.$touched && addUserForm.RoleName.$invalid" class="ui red pointing above ui label">Точки</span>
                    </div>
                </div>

                <!--<div class="field" ng-class="{'error': addTobaccoForm.categoryName.$dirty && addTobaccoForm.categoryName.$invalid}">
                    <div class="ui input">

                    </div>
                </div>-->

                <!--<div class="ui message" ng-class="vm.message.status == 'error' ? 'error' : 'success'"
                     style="display:block;"
                     data-ng-show="vm.message.code != ''">{{ vm.message.status }}: {{ vm.message.code }}</div>-->

            </form>
        </div>
    </div>
    <div class="actions">
        <div class="one fluid ui buttons">
            <button type="submit"
                    ng-disabled="addUserForm.$invalid || !addUserForm.$dirty"
                    ng-click="vm.putUser()"
                    class="ui positive right labeled icon button">
                Добавить
            </button>
        </div>
    </div>
</modal>

<script src="Content/js/admin.js"></script> 